@font-face {
  font-family: "Bemirs";
  src: url("../assets/fonts/BemirsDemoVersionRegular-L360Z.ttf");
}

:root {
  --color-header: #6a7f58;
  --color-header-darker: #526344;
  --color-primary: #eee;
  --text-color-on-primary: #333;
  --color-secondary: #444;
  --text-color-on-secondary: #ddd;
  --color-softwhite: #ccc;
  --font-size: 1.5rem;
  --max-width: 1500px;
  --bemirs: "Bemirs";
  --times-new-roman: "Times New Roman", Times, serif;
  --gill-sans: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --section-padding: 1rem 2rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--font-size);
  background: var(--color-primary);
  color: var(--text-color-on-primary);
  font-family: var(--gill-sans);
}

#app {
  max-width: var(--max-width);
  margin: 0 auto;
}

.main__container:not(.main__container[data-active]) {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  pointer-events: none;
}

.button {
  background: transparent;
  font-size: var(--font-size);
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  color: var(--text-color-on-primary);
  font-family: var(--gill-sans);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

/* nav */

.nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: var(--section-padding);
  column-gap: 2rem;
  align-items: center;
  height: 100px;
  background: var(--color-header);
}

.nav__logo {
  font-size: 3.5rem;
  font-family: var(--bemirs);
  cursor: pointer;
  color: var(--color-primary);
  z-index: 5;
  padding: 6px 8px;
  overflow: hidden;
  position: relative;
}
.nav__logo::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: var(--color-header-darker);
  transition: all 0.3s ease-in;
  scale: 0;
  z-index: -1;
}
.nav__logo:hover::after {
  scale: 2;
}

.nav__menu {
  display: none;
}

.nav__list {
  list-style: none;
  display: flex;
  font-size: var(--font-size);
  justify-content: start;
  gap: 1rem;
}
.nav__list-item {
  cursor: pointer;
}
.nav__list-item--button {
  position: relative;
  overflow: hidden;
}
.nav__list-item--button.button {
  color: var(--color-primary);
  border: none;
}
.nav__list-item svg.chevron-right {
  display: none;
}

.nav svg {
  fill: var(--color-primary);
}

.nav__actions {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}
.nav__actions--button {
  color: var(--color-primary);
}

/* banner section */

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  max-height: 700px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  position: relative;
  color: #fff;
}

.banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  filter: brightness(0.7);
}

.banner__content {
  text-align: center;
  z-index: 1;
}

.banner__content-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.banner__content-button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition:
    background-color 0.3s ease-in,
    color 0.3s ease-in;
  margin-top: 1rem;
}
.banner__content-button:active {
  transform: scale(0.95);
}
.banner__content-button:hover {
  background-color: #fff;
  color: #666;
}

/* footer */

.footer {
  padding: 0 4rem;
  background: #333;
  color: #aaa;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer__container {
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.footer__back-to-top {
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  color: #aaa;
  gap: 0.5rem;

  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease-in;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.footer__back-to-top:hover {
  color: #666;
}
.footer__back-to-top span {
  border-right: 1px solid #555;
  letter-spacing: 2px;
  padding: 0.5rem 1rem 0.5rem 0;
}
.footer__logo {
  font-size: 3.5rem;
  font-family: "Bemirs", sans-serif;
  background: transparent;
  color: #eee;
  border: none;
  cursor: pointer;
    display: inline-block;
  margin-bottom: 2rem;
  transition: color 0.3s ease-in;
}
.footer__logo:hover {
  color: #666;
}
.footer__map img {
  width: 150px;
  height: 120px;
}

.footer__location-title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #eee;
}
.footer__location-address {
  font-size: 1.2rem;
  font-weight: 500;
  color: #aaa;
  cursor: pointer;
}
.footer__location-address:hover {
  text-decoration: underline;
}
.footer__location-address span {
  display: block;
  margin-bottom: 0.5rem;
}

.footer__sections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  gap: 2rem;
}
.footer__section {
  padding-top: 2rem;
}
.footer__section:not(:last-child) {
  position: relative;
}

.footer__section:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #444;
}
.footer__section-wrapper {
  width: 100%;
}
.footer__section-group {
  display: flex;
  flex-direction: column;
}
.footer__section-group-item {
  position: relative;
  padding-bottom: 3.5rem;
}
.footer__section-group-item:first-child {
  margin-bottom: 2rem;
}

.footer__section-group-item:not(:last-child)::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #444;
  position: absolute;
}
.footer__section:nth-child(3)
  .footer__section-group-item:not(:last-child):after {
  width: calc(100% - 2rem);
}
.footer__section-title {
  margin-bottom: 2rem;
  font-size: 1.75rem;
  font-weight: 500;
  color: #eee;
  font-family: "Times New Roman", Times, serif;
}
.footer__nav-item {
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  font-weight: 500;
}
.footer__nav-item:hover {
  text-decoration: underline;
}
.footer ul {
  list-style: none;
}

.footer__legal-links {
  display: flex;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
  gap: 1rem;
  border-top: 1px solid #444;
}
.footer__legal-link {
  cursor: pointer;
}
.footer__legal-link:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .banner__content-heading {
    font-size: 2.5rem;
  }
  .footer {
    padding: 0 3rem;
  }
  .footer__sections {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    column-gap: 2rem;
  }
  .footer__section:nth-child(odd) {
    margin-left: 0;
    padding-right: 2rem;
  }
  .footer__section:nth-child(3)
    .footer__section-group-item:not(:last-child):after {
    width: 100%;
  }

  .footer__section-wrapper:nth-child(1),
  .footer__section-wrapper:nth-child(2) {
    padding-bottom: 3.5rem;
  }
  .footer__section:nth-child(2)::after {
    display: none;
  }
  .footer__section-wrapper:first-child {
    width: 100%;
    position: relative;
    height: 100%;
  }
  .footer__section-wrapper:first-child::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #444;
  }
}

@media (max-width: 900px) {
  body {
    --font-size: 1.3rem;
  }

  .nav {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "logo menu"
      "logo actions";
  }

  .nav__logo {
    grid-area: logo;
    align-self: center;
  }

  .nav__menu {
    height: 40px;
    grid-area: menu;
    display: flex;
    align-items: center;
    border: none;
    justify-self: flex-end;
    gap: 6px;
    color: var(--color-primary);
  }
  .nav__menu svg {
    width: 20px;
    height: 23px;
    fill: var(--color-primary);
  }
  .nav__menu svg.close path {
    fill: var(--color-primary);
  }

  .nav__list {
    position: absolute;
    top: 100px;
    left: -120%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-header);
    color: var(--color-primary);
    --section-padding: 0.75rem;
    padding: var(--section-padding);
    transition: left 0.2s ease-out;
    z-index: 5;
    gap: 0;
  }
  .nav__list-item {
    margin-bottom: 1rem;
    justify-self: flex-start;
  }
  .nav__list-item--button.button {
    border-bottom: 1px solid var(--color-softwhite);
    width: 100%;
    border-radius: 0;
    text-align: start;
    padding: 0.75rem 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__list-item svg.chevron-right {
    display: inline-block;
  }

  .nav--visible {
    left: 0;
  }

  .nav__actions {
    grid-area: actions;
    display: flex;
    justify-self: self-end;
    gap: 0.5rem;
  }

  .banner__content-heading {
    font-size: 2rem;
  }
  .banner__content-button {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
  }
  .footer {
    padding: 0 1rem;
  }
  .footer__sections {
    grid-template-columns: 1fr;
  }
  .footer__section:first-child,
  .footer__section {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
  .footer__section:first-child::after {
    display: none;
  }
  .footer__section--hidden-small {
    display: none;
  }
  .footer__legal-links {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 600px) {
  body {
    --font-size: 1rem;
  }

  .nav__logo {
    font-size: 2rem;
  }

  .nav {
    column-gap: 1rem;
    padding: 0.75rem;
  }
}

@media (min-width: 900px) {
  .nav__list-item--button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 90%;
    left: -100%;
    opacity: 0;
    background: var(--color-primary);
    z-index: 5;
    transition:
      left 0.3s ease-in,
      opacity 0.3s ease-in;
  }
  .nav__list-item--button:hover::after {
    opacity: 1;
    left: 0;
  }
  .nav__actions--button:first-child {
    border: 2px solid var(--color-primary);
  }
  .nav__actions--button:first-child:hover {
    color: var(--color-header);
    background: var(--color-primary);
  }
  .nav__actions--button:last-child {
    border-radius: 0;
    border-bottom: 3px solid;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .nav__actions--button:last-child::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 100%;
    left: 0;
    background: var(--color-primary);
    z-index: -1;
    transition:
      top 0.3s ease-in,
      opacity 0.3s ease-in;
  }
  .nav__actions--button:last-child:hover {
    color: var(--color-header);
  }
  .nav__actions--button:last-child:hover::before {
    opacity: 1;
    top: 0;
  }
}

@media (max-width: 600px) {
  .banner__content-heading {
    font-size: 1.5rem;
  }
  .banner__content-button {
    font-size: 1rem;
  }
}
